.spriteCleric{
    background: url(../../assets/Cleric.png);
}

.spriteDwarf{
    background: url(../../assets/Dwarf.png);
}

.spriteElf{
    background: url(../../assets/Elf.png);
}

.spriteFighter{
    background: url(../../assets/Fighter.png);
}

.icon{
    width: 82px !important; 
    height: 105px !important;
    background-position: 0px -10px !important;
    background-size: auto !important;
}

.dispCleric{
    background-position: -7px -2953px; 
    width: 355px;
    height: 245px;
}

.dispDwarf{
    background-position: -7px -2576px; 
    width: 309px;
    height: 224px;
}

.dispElf{
    background-position: -9px -2413px; 
    width: 361px;
    height: 244px;
}

.dispFighter{
    background-position: -5px -3378px !important; 
    width: 262px !important;
    height: 279px !important;
    background-size: auto !important;
}

.battleCleric{
    background-position: -1656px -2487px !important; 
    width: 91px !important;
    height: 92px !important;
    background-size: auto !important;
}

.battleFighter{
    background-position: -1873px -2927px !important; 
    width: 73px;
    height: 113px;
    background-size: auto !important;
}

.battleElf{
    background-position: -934px -2112px !important; 
    width: 51px;
    height: 115px;
    background-size: auto !important;
}

.battleDwarf{
    background-position: -1248px -1923px !important; 
    width: 87px;
    height: 96px;
    background-size: auto !important;
}

